$theme-color-primary: #228ae6;
$theme-color-secondary: #ece8e8;
$text-color-primary: #333;
$text-color-secondary: #757b81;
$text-color-light: #9fa6ad;
$button-color: #25b6e2;
$button-color-hover: #21c2f3;
$button-color-active: #25b6e2;
$hero-overlay: rgba(40, 44, 52, 0.8);
$navbar-color: white;
$shadow-low: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.3);
$shadow-high: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
