$theme-color-primary: #0062e1;
$theme-color-secondary: #889399;
$theme-color-accent: teal;
$text-color-primary: rgb(68, 68, 68);
$text-color-secondary: #757b81;
$text-color-light: #eee;
$button-color: #cc2917;
$button-color-hover: darken($button-color, 15%);
$button-color-active: lighten($button-color, 15%);
$hero-overlay: rgba(40, 44, 52, 0.8);
$navbar-color: white;
$shadow-low: 0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12),
  0 2px 4px -1px rgba(0, 0, 0, 0.3);
$shadow-high: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);

$table-height: 2.3rem;
