$theme-color-primary: #1d7a8c;
$theme-color-primary-dark: #024d5b;
$theme-color-primary-light: #5ba5b2;
$theme-color-secondary: #c93556;
$theme-color-secondary-dark: darken($theme-color-secondary, 10%);
$text-color-primary: rgb(68, 68, 68);
$text-color-secondary: #757b81;
$text-color-light: rgb(192, 190, 190);
$background-color: #f2f3f5;
$hero-overlay: rgba(40, 44, 52, 0.8);
$navbar-color: white;
$shadow-low: 0 0 1px 1px rgba(20, 23, 28, 0.1),
  0 3px 1px 0 rgba(20, 23, 28, 0.1);
$shadow-high: 0px 27px 40px -20px rgba(35, 44, 57, 0.11);
$table-height: 2.8rem;
