:root {
    --primary-theme-color: rgb(0, 162, 255);
    --secondary-theme-color: ;
    --primary-theme-background-color: #eee;
    --secondary-text-color: #757b81;
    --light-text-color: #b1b8be;
    --primary-button-color: #25b6e2;
    --primary-button-hover-color: #21c2f3;
    --primary-button-active-color: #25b6e2;
    --showcase-overlay: rgba(40, 44, 52, 0.8);
    --navbar-color: white;
    /*Shadow Helpers*/
    --shadow-low: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    --shadow-med: 0 8px 17px 2px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
    --shadow-high: 0 16px 24px 2px rgba(0, 0, 0, 0.14), 0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -7px rgba(0, 0, 0, 0.2);
    /*Component helpers*/
    --product-list-height: 40px;
}